h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

ol, ul{
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
	background: #f4f8ff;
}

a{
	display: block;
	color: inherit;
	text-decoration: none;
}

time{
	padding: 10px;
}

:root {
    --swiper-navigation-size: 25px;
}

.container{
	width: 1440px;
	margin: 0 auto;
}

.wrapp{
	display: flex;
	flex-direction: column;
	gap: 30px;
	@media(max-width: 768px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #013476;
	width: 100%;
	height: 130px;
	color: #fff;
	padding: 30px 160px;
	font-size: 12px;
	z-index: 50;
	@media (max-width: 1150px) {
		padding: 30px 100px;
	}
	@media (max-width: 960px) {
		padding: 30px 60px;
	}
	@media(max-width: 768px){
		height: 230px;
	}
	.header__burger{
		display: none;
	}
	.header__burger{
		@media (max-width: 768px){
			display: block;
			position: relative;
			width: 20px;
			height: 10px;
			z-index: 3;
		}
	}
	.header__burger::before,
	.header__burger::after {
		@media (max-width: 768px){
			content:'';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
		}	
	}
	.header__burger::before{
		@media (max-width: 768px){
			top: 0;
		}
	}
	.header__burger::after{
		@media (max-width: 768px){
			bottom: 0;
		}
	}
	.header__burger{
		@media (max-width: 768px){
			span{
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			top: 4px;
			transition: all 0.5s ease 0s;
		}
		}
	}
	
}
.header::before{
	@media (max-width: 768px){
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #013476;
		z-index: 3;
	}
	@media(max-width: 425px) {
		height: 110%;
	}
}
.header__burger.active::before{
		@media (max-width: 768px){
			transform: rotate(45deg);
			top: 4px;
			transition: all 0.5s ease 0s;
		}
	}
.header__burger.active::after{
		@media (max-width: 768px){
			transform: rotate(-45deg);
			bottom: 4px;
			transition: all 0.5s ease 0s;
		}
	}
.header__burger.active span{
		@media (max-width: 768px){
			transform: scale(0);
		}
	}

.upper__header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	@media (max-width: 1150px) {
		font-size: 8px;
	}
	@media (max-width: 768px){
		z-index: 7;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}

.upper__header-right{
	display: flex;
	gap: 40px;
	@media (max-width: 1150px) {
		gap: 20px;
	}
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
	img{
		@media (max-width: 960px) {
			width: 15px;
		}
	}
}

.upper__header-left{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	img{
		@media (max-width: 960px) {
			width: 30px;
		}
	}
}


.lower__header{
	display: flex;
	justify-content: center;
	align-items: center;

	.nav{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 60px;
		font-size: 14px;
		text-transform: uppercase;
		@media (max-width: 1150px) {
			gap: 40px;
			font-size: 10px;
		}
		@media (max-width: 960px) {
			gap: 35px;
		}
		@media (max-width: 768px){
			position: fixed;
			top: -100%;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: #000000;
			opacity: 0.8;
			display: flex;
			flex-direction: column;
			transition: all 0.5s ease 0s;
		}
	}
}
ul.nav.active{
	@media (max-width: 768px){
		top: 0;
		transition: all 0.5s ease 0s;
	}
}
ul.nav li{
	margin-right: 40px;
}

.locate__text{
	display: block;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	color: #fff;
}

.header__contact-item {
	display: flex;
	align-items: center;
    justify-content: center;
	gap: 10px;
	a{
		display: block;
		font-size: 12px;
	}
}

.promo{
	background: url('../img/promo/promo.jpg') center center/cover no-repeat;
	width: 100%;
	height: 550px;
	padding: 107px 250px;
	margin-top: 130px;
	@media(max-width: 1150px){
		padding: 107px 150px;
	}
	@media(max-width: 960px) {
		padding: 82px 100px;
		background-position-x: 100%;
	}
	@media(max-width: 768px) {
		margin-top: 230px;
		padding: 82px 85px;
	}
	@media(max-width: 576px) {
		background-position-x: 80%;
	}
	@media(max-width: 425px) {
		padding: 82px 40px;
	}
	h1{
		font-weight: 700;
		font-size: 40px;
		text-transform: uppercase;
		color: #484848;
		@media(max-width: 1150px){
			font-size: 30px;
			margin-top: 75px;
		}
		@media(max-width: 960px){
			font-size: 30px;
		}
		@media(max-width: 768px) {
			margin-top: 0;
			font-size: 20px;
		}
		@media(max-width: 576px) {
			font-size: 15px;
		}
	}
	a{
		margin-top: 100px;
		text-align: center;
        padding: 12px;
        border-radius: 4px;
        width: 200px;
        height: 45px;
        box-shadow: 5px 5px 10px 0 rgba(28, 96, 158, 0.42);
        background: #013476;
		color: #fff;
		@media (max-width: 768px) {
			width: 180px;
			height: 40px;
			padding: 10px;
		}
		@media (max-width: 768px) {
			width: 150px;
			font-size: 13px;
			padding: 13px;
			
		}
	}
}

.promo__msg-container{
	width: 600px;
	height: 300px;
	overflow: hidden;
	@media(max-width: 960px) {
		width: 500px;
	}
	@media(max-width: 768px) {
		width: 350px;
	}
	@media(max-width: 576px) {
		width: 200px;
	}
}

.slider{
	display: inline-flex;
	transition: 0.5s;
}

.promo__msg-column{
	width: 606px;
	height: 300px;
	@media(max-width: 960px) {
		width: 500px;
	}
	@media(max-width: 768px) {
		width: 350px;
	}
	@media(max-width: 576px) {
		width: 200px;
	}

}

.controller{
	display: block;
}

.line1, .line2{
	cursor: pointer;
	transform: translateX(-50%);
	img{
		@media(max-width: 576px) {
			width: 40px;
			height: 40px;
		}
		@media(max-width: 425px) {
			width: 30px;
		}
	}
}

.line1{
	position: absolute;	
	top: 62%;
	left: 10%;
	@media(max-width: 960px) {
		left: 6%;
	}
	@media(max-width: 576px) {
		left: 6%;
	}
}

.line2{
	position: absolute;
    top: 62%;
    right: 9%;
	@media(max-width: 1150px) {
		right: 9%;
	}
	@media(max-width: 576px) {
		right: 19%;
	}
}

.about{
	padding: 70px 152px 0 248px;
	@media(max-width: 1150px) {
		padding: 70px 100px 0 100px;
	}
	@media(max-width: 960px) {
		padding: 70px 80px 0 80px;
	}
	@media(max-width: 768px) {
		padding: 70px 60px 0 60px;
	}
	@media(max-width: 576px) {
		padding: 70px 40px 0 40px;
	}
	@media(max-width: 425px) {
		padding: 50px 30px 0 30px;
	}
	@media(max-width: 375px) {
		padding: 30px 10px 0 10px;
	}
	a{
		margin-top: 80px;
		text-align: center;
        padding: 12px;
        border-radius: 4px;
        width: 200px;
        height: 45px;
        box-shadow: 5px 5px 10px 0 rgba(28, 96, 158, 0.42);
        background: #013476;
		color: #fff;
		@media(max-width: 768px) {
			margin: 50px auto;
		}
		@media(max-width: 425px) {
			margin-top: 30px;
		}
	}
	.about__block{
		display: flex;
		@media(max-width: 768px) {
			flex-direction: column;
		}
	}
	.about__title{
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		color: #013476;
		@media(max-width: 1150px) {
			font-size: 25px;
		}
		@media(max-width: 425px) {
			margin-bottom: 15px;
			font-size: 20px;
		}
	}
	span{
		font-weight: 400;
		font-size: 18px;
		color: #484848;
		@media(max-width: 1150px) {
			font-size: 15px;
		}
	}
}

.about__img, .about__text{
	width: 100%;
}

.about__img{
	margin-right: 70px;
}

.about__text{
	padding: 15px;
	position: relative;
	img{
		position: absolute;
		bottom: -95px;
		right: 40px;
		@media(max-width: 1150px) {
			right: -30px;
		}
		@media(max-width: 768px) {
			bottom: -70px;
			right: -70px;
			width: 150px;
		}
		@media(max-width: 425px) {
			display: none;
		}
	}
}

.specialist{
	padding: 70px 249px 0 249px;
	@media(max-width: 1150px) {
		padding: 70px 110px 0 110px;
	}
	@media(max-width: 960px) {
		padding: 70px 90px 0 90px
	}
	@media(max-width: 768px) {
		padding: 50px 70px 0 70px
	}
	@media(max-width: 576px) {
		padding: 40px 50px 0 50px;
	}
	@media(max-width: 425px) {
		padding: 20px 30px 0 30px;
	}
	@media(max-width: 375px) {
		padding: 10px 10px 0 10px;
	}
	.specialist__block{
		img{
			width: 100%;
		}
		a{
			display: block;
			margin: 0 auto;
			margin-top: 70px;
			@media(max-width: 1150px) {
				margin-top: 30px;
			}
			@media(max-width: 768px) {
				margin-top: 30px;
			}
 		}
	}
	.specialist__header{
		text-align: center;
		img{
			position: absolute;
            top: -160px;
            right: -30px;
		}

	}
	.specialist__title{
		margin-bottom: 30px;
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		color: #013476;
		@media(max-width: 960px) {
			font-size: 25px;
		}
		@media(max-width: 768px) {
			margin-bottom: 20px;
			font-size: 18px;
		}
		
	}
	a{
		margin-top: 70px;
		text-align: center;
        padding: 12px;
        border-radius: 4px;
        width: 200px;
        height: 45px;
        box-shadow: 5px 5px 10px 0 rgba(28, 96, 158, 0.42);
        background: #013476;
		color: #fff;
	}
}

.diseases{
	padding: 80px 170px;
	@media(max-width: 1150px) {
		padding: 80px 100px;
	}
	@media(max-width: 960px) {
		padding: 60px 50px;
	}
	@media(max-width: 425px) {
		padding: 60px 10px;
	}
	.diseases__title{
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		color: #013476;
		text-align: center;
		@media(max-width: 960px) {
			font-size: 25px;
		}
	}
	.diseases__block{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 55px;
		gap: 55px;
		@media(max-width: 960px) {
			gap: 20px;
		}
		@media(max-width: 768px) {
			flex-direction: column;
		}
	}
	
	.diseases__block-item{
		padding: 33px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 8px;
		width: 330px;
		height: 260px;
		box-shadow: 3px 3px 35px 0 rgba(0, 0, 0, 0.1);
		background: #fff;
		@media(max-width: 425px) {
			width: 280px;	
		}
		img{
			width: 44px;
			height: 44px;
		}
	}
	.diseases__block-item:hover{
		cursor: pointer;
		box-shadow: 3px 3px 35px 0 #1a76dc;
		background: rgba(28, 96, 158, 0.9);	
		svg path{
			fill: white;
		}
		.diseases__subtitle,
		.diseases__text,
		a{
			color: white;
		}
		a{
			text-decoration: underline;
		}
	}

	.diseases__subtitle{
		margin-top: 22px;
		font-weight: 700;
		font-size: 18px;
		color: #000;
		@media(max-width: 960px) {
			font-size: 16px;
		}
	}
	.diseases__text{
		margin-top: 13px;
		font-weight: 400;
		font-size: 14px;
		text-align: center;
		color: #484848;
		@media(max-width: 960px) {
			font-size: 12px;
		}
	}
	a{		
		cursor: pointer;
		margin-top: 30px;
		font-weight: 700;
		font-size: 14px;
		text-align: center;
		color: #1c609e;
	}
}

.news{
	padding: 0 150px;
	@media(max-width: 1150px) {
		padding: 0 60px;
	}
	.news__title{
		text-align: center;
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		color: #013476;
		margin-bottom: 55px;
	}
}

.card__list .card__item .card__link{
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	border-radius: 8px;
	box-shadow: 3px 3px 35px 0 rgba(0, 0, 0, 0.1);
	background: #fff;
	text-decoration: none;
	padding: 18px;
	width: 365px;
	@media(min-width: 1150px) {
		width: auto;
	}
	@media(max-width:1150px) {
		width: 100%;
		padding: 15px;
	}
	@media(max-width:960px) {
		margin: 0 auto;
	}
	@media(max-width:768px) {
		box-shadow: none;
	}
}

.card__list .card__link .card__image{
	width: 100%;
	object-fit: cover;
}

.card__list{
	padding-left: 0;
}

.card__wrapper{
	padding: 5px 20px 40px 20px;
}

.card__title{
	margin-top: 15px;
	font-weight: 700;
	font-size: 18px;
	color: #1c609e;
	@media(max-width: 1150px) {
		font-size: 15px;
	}
}

.card__subtitle{
	margin-top: 10px;
	font-weight: 400;
	font-size: 10px;
	color: #484848;
}

.info{
	padding: 0 154px;
	position: relative;
	margin-top: 70px;
	.info__title_feedback{
		margin-right: 40%;
	}
	img{
		position: absolute;
		top: 0;
		left: 0;
	}
	.info__feedback{
		width: 500px;
		h3{
			padding-left: 156px;
		}
		@media(max-width: 768px) {
			width: 400px;
		}
	}
	.info__feedback::before{
		content: '';
        background-image: url(..//img/info/info__quotes.svg);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 18%;
        right: 45%;
		@media(max-width: 768px) {
			display: none;
		}
	}
	.info__contacts::after{
		content: '';
		display: block;
		position: absolute;
        left: 45%;
        top: 57%;
		border: 2px solid rgba(28, 96, 158, 0.6);
		width: 180px;
		height: 0px;
		transform: rotate(-90deg);
		@media(max-width: 960px) {
			left: 45%;
		}
		@media(max-width: 768px) {
			display: none;
		}
	}
	.info__title {
		font-weight: 700;
		font-size: 30px;
		text-transform: uppercase;
		color: #013476;
		text-align: center;
		margin-bottom: 44px; 
		@media(max-width: 1200px) {
			font-size: 25px;
		}
		@media(max-width: 768px) {
			font-size: 20px;
		}
	  }
	.info__block{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 240px;
		@media(max-width: 1200px) {
			gap: 200px;
		}
		@media(max-width: 960px) {
			gap: 80px;
		}
		@media(max-width: 768px) {
			flex-direction: column;
			gap: 30px;
		}
	}
	.info__contacts {
		@media(max-width: 1200px) {
			padding-left: 25%;
		}
		@media(max-width: 960px) {
			padding-left: 44%;
		}
		@media(max-width: 768px) {
			padding-left: 0;
			display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
		}
		
	}
	a{
		padding: 12px;
		border-radius: 4px;
		width: 151px;
		height: 45px;
		box-shadow: 5px 5px 10px 0 rgba(28, 96, 158, 0.42);
		background: #013476;
		font-weight: 700;
		font-size: 18px;
		color: #fff;
		display: block;
		text-align: center;
		margin-top: 25px;
		@media(max-width: 768px) {
			width: 140px;
        	height: 40px;
			font-size: 15px;
			margin-top: 16px;
		}
	}
	span{
		margin-top: 25px;
		display: block;
		font-weight: 500;
		font-size: 16px;
		color: #000;
		width: 400px;
		@media(max-width: 1200px) {
			margin-top: 20px;
			font-size: 13px;
			width: 330px;
		}
	}
}

.info__msg-container{
	width: 600px;
	height: 300px;
	overflow: hidden;
	@media(max-width: 768px) {
		width: 400px;
	}
}

.info__slider{
	display: inline-flex;
	transition: 0.5s;
}

.info__msg-column{
	width: 600px;
	height: 300px;
	@media(max-width: 768px) {
		padding-left: 38px;
		width: 400px;
	}
	h1{
		font-weight: 700;
		font-size: 18px;
		color: #000;
		@media(max-width: 768px) {
			padding-left: 100px;
		}
	}
	span{
		font-weight: 400;
		font-size: 14px;
		color: #000;
	}
}

.info__controller{
	display: block;
	position: absolute;
	bottom: 0;
    right: 35%;
	transform: rotate(270deg);
	height: 48px;
	width: 1px;
	@media(max-width: 1200px) {
		bottom: -30px;
    	right: 23%;
	}
	@media(max-width: 768px) {
		right: 54%;
	}
}

.info__line1, .info__line2, .info__line3, .info__line4{
	border-radius: 4px;
	width: 12px;
	height: 12px;
	cursor: pointer;
	transform: translateX(-50%);
	background: #1c609e;
}

.info__line4, .info__line2, .info__line3{
	margin-top: 10px;
}

.info__active{
	background: #8bc7ff;
	border-radius: 4px;
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: 35px;
    left: -7px;
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 70px;
	background-color: #013476;
	width: 100%;
	height: 130px;
	color: #fff;
	padding: 24px 160px;
	font-size: 12px;
	position: relative;
	gap: 20px;
	@media (max-width: 1150px) {
		padding: 24px 100px;
	}
	@media (max-width: 960px) {
		padding: 24px 60px;
	}
	@media(max-width: 768px){
		height: 230px;
	}
}

.footer__social{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.footer__block{
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 80px;
	@media(max-width: 768px){
		height: 230px;
		flex-direction: column;
		gap: 16px;
	}
}

.footer__policy {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	@media(max-width: 768px){
		justify-content: center;
	}
  }


.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: .2s transform, .2s left;
    border-radius: 4px;
    width: 12px;
    height: 12px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 1px);
    left: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 1px);
    right: auto;
}









		

